 @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v10-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/rubik-v10-latin_cyrillic-500.woff') format('woff');
 }

 @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v10-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/rubik-v10-latin_cyrillic-regular.woff') format('woff');
 }

 @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v10-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/rubik-v10-latin_cyrillic-700.woff') format('woff');
 }

 :root {
    --main-green-color: #00D36D;
    --main-background-color: #E5E5E5;
    --main-text-color: #222222;
    --grey-text-color: rgba(0, 0, 0, 0.5)
 }

 html {
    height: 100%;
    box-sizing: border-box;
 }

 *, *::before, *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
 }

 ::selection {
    background-color: var(--main-green-color);
    color: #ffffff;
    opacity: 1;
 }

 body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
 }

 img {
    display: block;
    object-fit: cover;
 }

 .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 /* GREEN-LINK */

 .green-link {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    background-color: var(--main-green-color);
    border-radius: 8px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
 }

 .green-link:hover {
    opacity: 0.8;
 }

 /*  ===== SITE-HEADER =====  */

 .siter-header {
    background-color: #fff;
 }

 .site-header-container {
    display: flex;
    align-items: center;
    padding: 16px 15px;
 }

 .logo-link {
    margin-right: 35px;
 }

 .site-nav {
    margin-right: 57px;
 }

 .nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
 }

 .nav-list-item {
    margin-right: 25px;
 }

 .nav-list-link {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    color: var(--grey-text-color);
    transition: color 0.3s ease;
 }

 .nav-list-link:hover {
    color: var(--main-text-color);
 }

 .actice-nav-list-link {
    color: var(--main-text-color);
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
 }

 /* GET-DROPDOWN */

 .geo-link-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 6px;
    white-space: nowrap;
 }

 .geo-link-box::before {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 3px;
    background-image: url(../img/geo-icon.svg);
    background-size: contain;
    background-position: center center;
    content: "";
 }

 .geo-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    color: var(--grey-text-color);
 }

 .geo-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
 }

 .geo-link-box:hover .geo-dropdown {
    display: block;
 }

 .geo-dropdown::after {
    position: absolute;
    bottom: 100%;
    right: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #ffffff;
    transform: translate(-50%);
    content: "";
 }

 .geo-dropdown-txt {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
 }

 .geo-yes {
    display: inline-block;
    margin-right: 20px;
 }

 .geo-change-location {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-green-color);
    text-decoration: none;
    border: 1px solid var(--main-green-color);
    border-radius: 8px;
    transition: text-decoration .3s ease;
 }

 .geo-yes:hover {
    opacity: 0.8;
 }

 .geo-change-location:hover {
    text-decoration: underline;
 }

 .header-right-bottom {
    display: flex;
    align-items: center;
 }

 .search-link {
    margin-right: 20px;
    margin-left: auto;
 }

 .login-link {
    margin-left: auto;
    padding: 5px 16px;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-green-color);
    text-decoration: none;
    border: 1px solid var(--main-green-color);
    border-radius: 8px;
    transition: text-decoration 0.3s ease;
 }

 .login-link:hover {
    text-decoration: underline;
 }

 /*  ====== SITE-MAIN ======  */

 /* PARTNERS-SECTION */

 .site-main {
    flex-grow: 1;
    background: var(--main-background-color);
 }

 .partners-section-container {
    padding-top: 70px;
    padding-bottom: 120px;
 }

 .partners-section-heading {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
 }

 .partners-type-list {
    width: 882px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 0;
    list-style-type: none;
 }

 .partners-type-list-items {
    margin-bottom: 8px;
 }

 .partners-type-list-items:not(:last-child) {
    margin-right: 8px;
 }

 .partners-type-list-links {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-text-color);
    background: #FFFFFF;
    border-radius: 8px;
    transition: color 0.3s ease;
 }

 .partners-type-list-links-more {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-weight: 700;
 }

 .partners-type-list-links:hover {
    color: var(--main-green-color);
 }

 .active-partners-type-list-links {
    background-color: var(--main-green-color);
    color: #ffffff;
 }

 .active-partners-type-list-links:hover {
    color: #ffffff;
 }

 /* GIVE-GET-CHOICE */

 .partners-section-form {
    position: relative;
    width: 321px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
 }

 .radio-label {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
 }

 .radio-1-label {
    width: 93px;
 }

 .radio-2-label {
    width: 97px;
 }

 .radio {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 50%;
    opacity: 0;
 }

 .radio-1 {
    left: 0;
 }

 .radio-2 {
    right: 0;
 }

 .radio-1:checked~.give-get-controller .give-get-coin {
    margin-left: 0;
 }

 .radio-1:not(:checked)~.give-get-controller .give-get-coin {
    margin-left: 37px;
 }

 .radio-1:checked+.radio-1-label {
    color: var(--main-green-color);
 }

 .radio-2:checked+.radio-2-label {
    color: var(--main-green-color);
 }

 .give-get-controller {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-right: 2px;
    padding-left: 2px;
    background: #FFFFFF;
    border: 1px solid #E4E6E9;
    border-radius: 12px;
 }

 .give-get-coin {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--main-green-color);
    border-radius: 50%;
    transition: all 0.3s ease;
 }

 /* DISCOUNT-GIVERS-LIST */

 .discount-givers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
 }

 .discount-givers-list-items {
    width: 218px;
    padding: 20px 15px;
    background: #ffffff;
    border-radius: 8px
 }

 .discount-quantity {
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
 }

 .discount-from-expendature {
    display: block;
    margin-bottom: 27px;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-text-color);
 }

 .discount-giver-logo {
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 35px;
 }

 .discount-giver {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-text-color);
 }

 .more-discount-givers-link {
    width: 147px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
 }

 /* OFFERS-SECTION */

 .offers-section {
    padding-top: 120px;
    padding-bottom: 173px;
 }

 .offers-heading {
    width: 715px;
    margin: 0 auto;
    margin-bottom: 34px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
 }

 .offers-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
 }

 .offers-list-items {
    width: 377px;
 }

 .offers-list-links {
    display: inline-block;
    text-decoration: none;
 }

 .offers-list-links::before {
    width: 377px;
    height: 236px;
    display: inline-block;
    margin-bottom: 15px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    content: "";
 }

 .offers-list-links-1::before {
    background-image: url(../img/offer1.jpg);
 }

 .offers-list-links-2::before {
    background-image: url(../img/offer2.jpg);
 }

 .offers-list-links-3::before {
    background-image: url(../img/offer3.jpg);
 }

 @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .offers-list-links-1::before {
       background-image: url(../img/offer1@2x.jpg);
    }
    .offers-list-links-2::before {
       background-image: url(../img/offer2@2x.jpg);
    }
    .offers-list-links-3::before {
       background-image: url(../img/offer3@2x.jpg);
    }
 }

 .offers-list-items-bottom {
    display: flex;
    align-items: center;
 }

 .offers-list-items-bottom:before {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
 }

 .offers-list-items-bottom-1:before {
    background-image: url(../img/partner-small3.jpg);
 }

 .offers-list-items-bottom-2:before {
    background-image: url(../img/partner-small5.png);
 }

 .offers-list-items-bottom-3:before {
    background-image: url(../img/partner-small1.png);
 }

 .offers-list-items-txt {
    color: var(--main-text-color);
 }

 @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .offers-list-items-bottom-1:before {
       background-image: url(../img/partner-small3@2x.png);
    }
    .offers-list-items-bottom-2:before {
       background-image: url(../img/partner-small5@2x.png);
    }
    .offers-list-items-bottom-3:before {
       background-image: url(../img/partner-small1@2x.png);
    }
 }

 .offering-company {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-text-color);
 }

 .offer-description {
    margin: 0;
    font-size: 18px;
    line-height: 130%;
 }

 .more-offers-link {
    width: 176px;
    display: block;
    margin: 0 auto;
    margin-bottom: 120px;
 }

 /* DISCOUNTS */

 .discounts-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 }

 .discounts-box {
    position: relative;
    margin: 0 20px;
 }

 .discounts-box:not(:last-of-type) {
    margin-bottom: 80px;
 }

 .discounts-img-box {
    display: flex;
    align-items: center;
    padding: 19px;
    background-color: #ffffff;
    border-radius: 79px;
 }

 .discount-img-link {
    position: relative;
 }

 .discount-img-link-1::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color);
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    content: "3%";
 }

 .discount-img-link-2::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color);
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    content: "1.5%";
 }

 .discount-img-link-3::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color);
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    content: "5%";
 }

 .discount-img-link:not(:last-of-type) {
    margin-right: 10px;
 }

 .discount-img {
    border-radius: 50%;
 }

 .discounts-desription-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 58%;
 }

 .discounts-desription-wrapper::before, .discounts-desription-wrapper::after {
    position: absolute;
    top: 0;
    border-bottom: 20px solid transparent;
    content: "";
 }

 .discounts-desription-wrapper::before {
    left: 0;
    transform: translateX(-90%);
    border-right: 15px solid #ffffff;
    border-left: 15px solid transparent;
 }

 .discounts-desription-wrapper::after {
    right: 0;
    transform: translateX(90%);
    border-right: 15px solid transparent;
    border-left: 15px solid #ffffff;
 }

 .discounts-description {
    display: block;
    padding: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    border-radius: 0 0 40px 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 /*  ===== SITE-FOOTER ===== */

 .site-footer {
    background-color: #ffffff;
 }

 .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
 }

 .footer-left-heading-num {
    display: block;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
 }

 .footer-left-heading-description {
    display: block;
    margin-bottom: 55px;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-text-color);
 }

 .sberbank-logo-link {
    display: block;
    margin-bottom: 30px;
 }

 .footer-copyright {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-text-color);
 }

 .footer-right {
    width: 873px;
 }

 .site-nav-footer {
    margin-right: 0;
    margin-bottom: 30px;
 }

 .footer-right-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
 }

 .mobile-apps-box {
    display: flex;
    align-items: center;
 }

 .mobile-app-links:not(:last-child) {
    margin-right: 10px;
 }

 .social-media-links-box {
    display: flex;
    align-items: center;
 }

 .social-media-links {
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
 }

 .footer-right-bottom-txt {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-text-color);
 }